.input {
  &__container {
    position: relative;

    label {
      display: block;
      color: #FFF;
      margin-bottom: 2px;
      cursor: pointer;
    }

    input {
      padding: 5px 10px;
      border: none;
      width: 70px;
    }
  }
}
